<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>803717229397-qv6nntjr16lj4hvp1hcaqjj2vamfjcj9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.803717229397-qv6nntjr16lj4hvp1hcaqjj2vamfjcj9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>803717229397-he183rnq6audan077829ff4ct6ammio5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB8s6bjf_9wtyIqV5eUT-VoT6FAWb4LWYI</string>
	<key>GCM_SENDER_ID</key>
	<string>803717229397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobilityhub.nara</string>
	<key>PROJECT_ID</key>
	<string>shoppingfood-f71d2</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppingfood-f71d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803717229397:ios:83231181720dbaf482dddc</string>
</dict>
</plist>
